<?php
//Start Install 
//Start Set by User

//Basic Settings
define("APP_DOMAIN","INSERT_APP_DOMAIN");
define("APP_TITLE","INSERT_APP_TITLE");
define("APP_DIR","INSERT_APP_DIR");
define("APP_PYTHON","INSERT_APP_PYTHON");

//Database Settings
define("APP_SQL_USER","INSERT_APP_SQL_USER");
define("APP_SQL_PASS","INSERT_APP_SQL_PASS");
define("APP_SQL_DB","INSERT_APP_SQL_DB");
define("APP_SQL_HOST","INSERT_APP_SQL_HOST");

//End Set by User

//Start Set by App

//Misc Settings
define("APP_LOG",APP_DIR."/includes/logs/main.log");
define("APP_DIR_RUN",APP_DIR."/includes/app");
define("APP_DIR_TEMP",APP_DIR."/includes/temp");

//Resource Locations
define("APP_INCLUDES",APP_DIR."/includes");
define("APP_HTML",APP_DIR."/includes/html");
define("APP_IMAGES","//".APP_DOMAIN."/includes/images");
define("APP_CSS","//".APP_DOMAIN."/includes/css");
define("APP_JS","//".APP_DOMAIN."/includes/js");

//End Set by App


//End Install 
?>
